* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    background-color: rgb(40, 40, 42);
}

p {
    color: #eaede8;
    font-size: 2px;
    font-family: "Monaco", monospace;
    line-height: 120%;
    white-space: pre;
}

#convert-button {
    background-color: #402580;
    color: #eaede8;
    border: none;
    padding: 0.6rem;
    border-radius: 0.5rem;
}

#convert-button:hover {
    background-color: #4a308c;
}

#image-container {
    width: 100vw;
    height: 90vh;
    color: #eaede8;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hidden {
    visibility: hidden;
}

#menu-toggle {
    position: fixed;
    top: 1vh;
    background-color: #eaede8;
    color: rgb(40, 40, 42);
    border: none;
    border-radius: 10rem;

    padding: 0.6rem;
    font-size: 12px;
}

#menu-toggle:hover {
    background-color: #afafaf;
}

#clear-btn {
    background-color: rgb(40, 40, 42);
    color: #f14343;
    border-style: solid;
    border-color: #f14343;
    padding: 0.4rem;
    border-radius: 0.6rem;
}

#clear-btn:hover {
    background-color: #f14343;
    color: rgb(40, 40, 42);
}

#form-container {
    position: fixed;
    top: 75vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    color: #eaede8;

    background-color: rgb(40, 40, 42);
    padding: 1.2rem;
    border-radius: 1rem;

    font-size: 12px;
}